.container {
    margin: auto;
    width: 80%;
    background-color: #f7d6f1;
}


.container:hover {
    cursor: grab;
}

.layout {
    margin: auto;
    width: 80%;
}

.heading_title {
    background-color: #f7d6f1;
    padding: 20px 0;
    text-align: left;
    margin: auto;
    width: 80%;
}


.heading {
    background-color: #f7d6f1;
    padding: 20px 5px;
    text-align: left;
    transition: 0.3s;
}

.heading_cursor:hover {
    cursor: pointer;
}

.heading_cursor:active {
    cursor: progress;
}


body {
    line-height: 1.5;
    font-family: Georgia, serif;
    font-weight: 300;
}

h1 {
    font-size: 2em;
    color: blueviolet;
}

h3 {
    margin: 0;
    font-size: 1.5em;
    color: blueviolet;
}

label {
    display: block;
    overflow: visible;
}


input[type="checkbox"] {
    display: none;
}


.title {
    padding: 1em 3em;
    position: relative;
    border: 1px solid #e596f8;
}

.title:hover {
    background: #e596f8;
}

.content {
    padding: 0 20px;
    display: none;
    overflow: hidden;
}

input[type="checkbox"]:checked+.title+.content {
    display: block;
}

.heading:hover .content {
    display: block;
}

.pics_memes {
    height: 300px;
    padding-top: 20px;
    display: block;
    margin: auto;
}

.plus {
    position: absolute;
    right: 0;
    top: 44%;
    font-size: 3em;
    line-height: 0;
}

input[type="checkbox"]:checked+.title .plus {
    transform: rotate(45deg);
}

.heading:hover .title .plus {
    transform: rotate(45deg);
}


.content img {
    width: auto;
    height: 100%;
    max-width: 100%;
    max-height: 300px;
}

.heading:hover .content img {
    animation: rotate .8s forwards;
}

@keyframes rotate {
    0% {
        height: 0%;
        transform: scale(.25);
    }

    100% {
        transform: scale(1);
    }
}